.card {
    width: 100%;
    margin: 3rem 0;
}

.title {
    width: 100%;
    height: 15%;
}

.title h1 {
    font-size: 3rem;
}

.box {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box .min {
    width: 30%;
    height: auto;
}

.box .min .image {
    width: 100%;
    height: 11rem;
    background-image: url("../../public/img/ft.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
}

.box .min .text {
    margin-top: 0.4rem;
}

.box .min .text h1 {
    line-height: 1.5rem;
}

.box .min .text a {
    text-decoration: none;
}
