.card {
    width: 100%;
    margin: 3rem 0;
}

.title {
    width: 100%;
    height: 15%;
}

.title h1 {
    font-size: 3rem;
}

.box {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
