.option {
    margin-top: 3rem;
    width: 100%;
    padding: 0 7rem;
    height: 3rem;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: var(--nunito);
    font-style: italic;
    font-size: 1.2rem;
}

.option p {
    cursor: pointer;
    user-select: none;
}

.active {
    color: var(--blue);
}

.container {
    padding: 1rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1027px) {
    .container {
        padding: 1rem 5rem;
    }
}

@media only screen and (max-width: 800px) {
    .option {
        padding: 0 1rem;
        gap: 1rem;
        justify-content: space-evenly;
    }

    .option p {
        font-size: 1rem;
    }

    .container {
        padding: 1rem 1rem;
    }
}
