.layout {
    display: flex;
    flex-direction: column;
}

.layout nav {
    width: 100%;
    height: 3rem;
    background-color: white;
    box-shadow: 0 0.1rem 0.4rem rgba(51, 51, 51, 0.459);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.layout nav img {
    display: inline-block;
    width: 8rem;
    -webkit-user-drag: none;
    user-select: none;
    cursor: pointer;
}

.layout nav .mainNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.layout nav .mainNav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20rem;
    height: 100%;
}

.layout nav .mainNav ul li {
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.layout nav .mainNav div {
    padding-left: 2rem;
    border-left: 2px solid var(--black);
}

.layout nav .mainNav div button {
    font-size: 1.3rem;
    height: auto;
    padding: 0 1.2rem;
    border: none;
    background-color: var(--blue);
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}

.layout nav .btnNav {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.layout nav .btnNav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.layout nav .btnNav ul li {
    height: 0.3rem;
    background-color: black;
    list-style: none;
    border-radius: 0.5rem;
}

.layout nav .btnNav ul li:nth-child(1) {
    width: 60%;
}
.layout nav .btnNav ul li:nth-child(2) {
    width: 80%;
}
.layout nav .btnNav ul li:nth-child(3) {
    width: 100%;
}

.layout nav .secondNav {
    width: 6rem;
    height: 10rem;
    background-color: white;
    position: absolute;
    top: 5rem;
    right: 4rem;
}

.layout footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    background-color: var(--black);
}

.layout footer div {
    width: 25rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.layout footer div img {
    width: 7rem;
}

.layout footer div ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20rem;
    height: 100%;
}

.layout footer div ul li {
    list-style: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.layout footer div div {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.layout footer div div img {
    width: 1.6rem;
    cursor: pointer;
}

.layout footer div p {
    color: white;
    font-family: var(--nunito);
    font-size: 0.7rem;
}

.layout footer div p span {
    color: var(--blue);
    font-family: var(--nunito);
}

@media only screen and (max-width: 800px) {
}
