.secondNav ul li {
    list-style: none;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.secondNav ul li a {
    text-decoration: none;
    color: white;
}

.secondNav div {
    padding: 1.3rem 0;
}

.secondNav div button {
    height: 1.6rem;
    width: 6rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 1rem;
}
