.min {
    width: 30%;
    height: auto;
}

.min .text {
    margin-top: 0.4rem;
}

.min .text h1 {
    line-height: 1.5rem;
}

.min .text a {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .min {
        width: 90%;
        margin-bottom: 2rem;
    }
}
